body {
  color: #777 !important;
  background-image: url('../public/bg.png');
  background-repeat: repeat;
  background-size: 300px;
  background-position: top left;
  min-height: calc(100vh - 200px);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  min-height: calc(100vh - 200px);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/*h1 {
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}*/

.description {
  color: "#666";
  font-size: 18px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#user-icon .bi {
  font-size: 30px;
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-right: 7px;
}

.navbar-brand {
  padding-left: 7px;
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#mainContainer {
  text-align: left;
}

.ai-btn {
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  color: white;
  border: none;
  padding: 7px;
  font-size: 16px;
  border-radius: 10px;
  transition: 0.25s ease;
  box-shadow: 0 0 12px rgba(79, 70, 229, 0.6);
}

.ai-btn:hover {
  color: white;
  padding: 7px;
  transform: translateY(-2px);
  box-shadow: 0 0 18px rgba(6, 182, 212, 0.9);
}

.ai-btn:disabled {
  color: white;
  padding: 7px;
  opacity: 0.5;
  cursor: not-allowed;
}

.chart-container {
  margin-top: 50px;
}

.form-control, .form-control:focus {
  color: #777;
}

.form-select, .form-select:focus {
  color: #777;
}
